.page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-left: 240px;
    /* space for fixed sidenav */
    transition: padding-left 300ms ease;
}

/* on small screens remove left padding (sidenav overlays content when open) */
@media (max-width: 800px) {
    .page {
        padding-left: 0;
    }
}